<html>

<head>
    <title>An Office 365 API Sample App Using Node-Express-Ejs</title>
    <style>
        body {
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px
        }

        .rightAlign {
            text-align: right
        }

        .leftAlign {
            text-align: left
        }

        .centerAlign {
            text-align: center
        }
    </style>
</head>

<body class="centerAlign">
    <div name="banner">
        <h1>Office 365 API Tasks | Discovery</h1>
    </div>
    <div name="menu">
        <b>Discovery</b> |
        <a href="/">Home</a>
    </div>

    <div>
        <table border="1">
            <% for(var i=0; i<k.keys.length;  i++) { %>
              
                    <tr>
                        <td>
                            <%= i %>: kid
                        </td>
                        <td>
                            <%= k.keys[i]['kid'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            use
                        </td>
                        <td>
                            <%= k.keys[i]['use'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            kty
                        </td>
                        <td>
                            <%= k.keys[i]['kty'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            e
                        </td>
                        <td>
                            <%= k.keys[i]['e'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            n
                        </td>
                        <td>
                            <%= k.keys[i]['n'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            x5t
                        </td>
                        <td>
                            <%= k.keys[i]['x5t'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            x5c
                        </td>
                        <td>
                            <%= k.keys[i]['x5c'] %>
                        </td>
                    </tr>
                    <% } %>
        </table>
    </div>
</body>

</html>